<div  class="container-fluid">
    <h1>Chat</h1>
    <div class="row">
        <div style="min-height: 500px;padding: 0px;" class="col-lg-12">
            <div style="background-color: #CACACA;min-height: 500px;padding: 0px;border-right: solid 1px goldenrod"  class="col-lg-8">
                <div style="background-color: #009999;padding: 0px;border: solid 1px goldenrod;border-right:none;min-height: 50px" class="col-lg-12">

                </div>
            </div>
            <div style="min-height: 500px;padding: 0px;background-color: cornflowerblue" class="col-lg-4">
                <div style="background-color: #009999;border: solid 1px goldenrod;min-height: 50px" class="col-lg-12">

                </div>
            </div>
        </div>

    </div>
</div>