.nav-button {
    width: 50%;
    display: block;
    float: left;
    text-align: center;
    padding: 0px;
    background-color: black;
    font-size: 30px;
    border-bottom: 10px solid black;
}
.nav-button:hover {
    background-color: rgba(80, 96, 109, 0.56);
    border-bottom: 10px solid rgba(80, 96, 109, 0.56);
}
.activeTEST {
    background-color: turquoise !important;
}
.ds-table {
    display: table;
    width: 100%;
}
.active {
    background-color: rgba(80, 96, 109, 0.56);
    border-bottom: 10px solid rgba(80, 96, 109, 0.56);
}
.has-error {
    border: 1px solid red;
}














/*Add delete user animation*/
.users-anime.ng-enter  {
    -webkit-animation:1.5s anim_enter;
    -moz-animation:1.5s anim_enter;
    -o-animation:1.5s anim_enter;
    animation:1.5s anim_enter;
    position:relative;
}



@keyframes anim_enter {
    from {
        left:100%;
    }
    to {
        left:0;
    }
}

@-webkit-keyframes anim_enter {
    from {
        left:100%;
    }
    to {
        left:0;
    }
}

.users-anime.ng-leave{

    -webkit-animation:0.5s anim_leave;
    -moz-animation:0.5s anim_leave;
    -o-animation:0.5s anim_leave;
    animation:0.5s anim_leave;
    position:relative;


    /*opacity fade out*/
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

@keyframes anim_leave {
    from {
        left:0;
    }
    to {
        left:100%;
    }
}

@-webkit-keyframes anim_leave {
    from {
        left:0;
    }
    to {
        left:100%;
    }
}

/*Add delete user animation ./*/












/*Loader nimation*/
@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
.animate-flicker {
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

